name: delineate

services:
  delineate-app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ../src:/app/src
      - ../.env:/app/.env
    env_file:
      - ../.env
    environment:
      - NODE_ENV=development
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://delineate-jaeger:4318
    depends_on:
      - delineate-jaeger

  delineate-jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "4318:4318"
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  delineate-storage:
    image: rustfs/rustfs:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    command: ["/data"]
    environment:
      - RUSTFS_ACCESS_KEY=admin
      - RUSTFS_SECRET_KEY=password

  init-s3:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    volumes:
      - ../src:/app/src
      - ../scripts:/app/scripts
      - ../.env:/app/.env
    env_file:
      - ../.env
    depends_on:
      - delineate-storage
    command: ["node", "--experimental-transform-types", "scripts/init-s3.ts"]
